<p>
  <li class="sidebar-search hidden-sm hidden-md hidden-lg">
    <!-- input-group -->
    <div class="input-group custom-search-form">
        <input type="text" class="form-control" placeholder="Username..."> <span class="input-group-btn">
    <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
    </span></div>
    <!-- /input-group -->
</li>
</p>

<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="white-box">

                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="white-box">

                </div>
            </div>
        </div>
    </div>
</div>

